.tweet {
  padding: 25px;
  text-align: left;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.author-name {
  display: inline-block;
  margin-right: 20px;
  width: 250px;
  word-wrap: normal;
}

.names-container {
  display: flex;
  align-items: flex-start;
}

.image-container{
  margin-right: 20px;
  height: 100%;
  min-width: 120px;
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  min-width: 400px;
}

.tweet-text {
  margin-bottom: 5px;
  overflow-wrap: break-word;
  max-width: 100%
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: flex-start;
}
