.tweets-container {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-width: 800px;
}

.pagination-container {
  min-width: 800px;
  align-items: center;
}

.pagination-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 370px;
  margin: auto;
}

.pagination-button {
  background-color: #1da1f2;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 0px 2px;
  cursor: pointer;
  min-width: 100px;
  display: flex;
  justify-content: center;
}

.pagination-button:hover{
  background-color: #85c4eb;
}
